html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(https://media.cntraveler.com/photos/5acbc02228064f5504f54664/16:9/w_2560%2Cc_limit/WEEK3_airtrafficcontrol_final1%2520copy.jpg);
  background-repeat: no-repeat;
  background-size: auto; 
  background-position: right;

  /* background-color: #E1E8ED; */
  margin-bottom: 60px;
}
.footer{
  background-color: #292F33;
}
.form-group{
  border-radius: 25px;
  padding: 2px;
  width: 300px;
  height: 100px;
}