@{
    ViewData["Title"] = "AdminHome";
    Layout="~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Welcome Admin</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Roles
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                All Flights
            </td>
            <td>
                Manage flights - Add, View, Delete
            </td>
        </tr>
        <tr>
            <td>
                All Bookings
            </td>
            <td>
                Manage bookings - View, Delete
            </td>
        </tr>
        <tr>
            <td>
                All Customers
            </td>
            <td>
                Manage custromers - View, Delete
            </td>
        </tr>

    </tbody>
</table>